# Librairies

In [2]:
import os
import pandas as pd

# Read File

Read imported files
Sources : https://www.kaggle.com/teajay/global-shark-attacks

In [3]:
initial_data=pd.read_csv('/Users/sandrine/desktop/prework/Projects_Ironhack/Shark_lab/attacks.csv',encoding='latin-1')
# use encoding = 'Latin-1 '

In [4]:
initial_data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
#Number of rows and columns
initial_data.shape

(25723, 24)

In [6]:
# check DataFrame info
initial_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

**Analyze the DataFrame general information before starting

In [7]:
# function checking the Frequency of the different elements in each column of a dataframe
def freq_element_percolumn(data):
    cols=data.columns
    for i in cols:
        freq_per_element=pd.Series(data[i]).value_counts(normalize=True)*100
        print(f'Column studied is : {i}')
        display(freq_per_element)
    return

freq_element_percolumn(initial_data)

Column studied is : Case Number

0               27.579867
1923.00.00.a     0.022983
2014.08.02       0.022983
1913.08.27.R     0.022983
1990.05.10       0.022983
                  ...
2017.07.11       0.011492
2018.04.24       0.011492
1996.01.16       0.011492
1931.06.13       0.011492
2002.07.09.b     0.011492
Name: Case Number, Length: 6287, dtype: float64

Column studied is : Date

1957           0.174548
1942           0.142812
1956           0.126944
1950           0.111076
1941           0.111076
                 ...
30-Sep-1993    0.015868
Apr-1993       0.015868
07-Feb-1975    0.015868
15-Aug-2000    0.015868
28-Nov-1963    0.015868
Name: Date, Length: 5433, dtype: float64

Column studied is : Year

2015.0    2.269841
2017.0    2.158730
2016.0    2.063492
2011.0    2.031746
2014.0    2.015873
            ...
1753.0    0.015873
77.0      0.015873
1785.0    0.015873
1580.0    0.015873
1543.0    0.015873
Name: Year, Length: 249, dtype: float64

Column studied is : Type

Unprovoked      72.959670
Provoked         9.114004
Invalid          8.685297
Sea Disaster     3.794856
Boating          3.223245
Boat             2.175294
Questionable     0.031756
Boatomg          0.015878
Name: Type, dtype: float64

Column studied is : Country

USA                   35.652591
AUSTRALIA             21.401152
SOUTH AFRICA           9.261036
PAPUA NEW GUINEA       2.143314
NEW ZEALAND            2.047345
                        ...
SOUTH CHINA SEA        0.015995
CEYLON (SRI LANKA)     0.015995
GULF OF ADEN           0.015995
ARUBA                  0.015995
IRELAND                0.015995
Name: Country, Length: 212, dtype: float64

Column studied is : Area

Florida                                 17.735591
New South Wales                          8.311955
Queensland                               5.318967
Hawaii                                   5.096631
California                               4.959808
                                          ...
Argyllshire                              0.017103
Rigo subdistrict                         0.017103
Rio Grande Do Sul                        0.017103
Territory of Cocos (Keeling) Islands     0.017103
Near Dakar, Cap Vert Peninsula           0.017103
Name: Area, Length: 825, dtype: float64

Column studied is : Location

New Smyrna Beach, Volusia County    2.828879
Daytona Beach, Volusia County       0.520653
Ponce Inlet, Volusia County         0.347102
Melbourne Beach, Brevard County     0.312392
Myrtle Beach, Horry County          0.295036
                                      ...
Ganges Delta                        0.017355
Laguna Beach, Bay County            0.017355
Dover Heights, Sydney               0.017355
Malakula                            0.017355
Clarence Head                       0.017355
Name: Location, Length: 4108, dtype: float64

Column studied is : Activity

Surfing                                   16.863494
Swimming                                  15.092046
Fishing                                    7.485238
Spearfishing                               5.783258
Bathing                                    2.813477
                                            ...
Free diving for abalone (surfacing)        0.017367
Floating on air mattress                   0.017367
Scuba diving (ascending using scooter)     0.017367
Standing / surfing                         0.017367
Filming underwater, carrying powerhead     0.017367
Name: Activity, Length: 1532, dtype: float64

Column studied is : Name

male                               9.028234
female                             1.592252
boy                                0.377544
2 males                            0.262640
boat                               0.229810
                                     ...
William J. Goins                   0.016415
Peter Weir                         0.016415
Gerald Gaskins                     0.016415
a seaman from the John and Lucy    0.016415
Smith                              0.016415
Name: Name, Length: 5230, dtype: float64

Column studied is : Sex

M      88.792052
F      11.103364
M       0.034861
N       0.034861
.       0.017431
lli     0.017431
Name: Sex , dtype: float64

Column studied is : Age

17         4.436762
18         4.321521
19         4.091040
20         4.062230
15         4.004610
             ...
74         0.028810
34 & 19    0.028810
33 & 37    0.028810
60's       0.028810
82         0.028810
Name: Age, Length: 157, dtype: float64

Column studied is : Injury

FATAL                                                                 12.782914
Survived                                                               1.546063
Foot bitten                                                            1.386675
No injury                                                              1.306981
Leg bitten                                                             1.147593
                                                                        ...
Lost left arm                                                          0.015939
Injuries to fingers, calf  & heel                                      0.015939
No injury to occupants. Shark leapt into boat during sailing races     0.015939
minor injury to foot                                                   0.015939
No injury, bow of kayak bitten                                         0.015939
Name: Injury, Length: 3737, dtype: float64

Column studied is : Fatal (Y/N)

N          74.492452
Y          24.084678
UNKNOWN     1.231997
 N          0.121465
y           0.017352
N           0.017352
M           0.017352
2017        0.017352
Name: Fatal (Y/N), dtype: float64

Column studied is : Time

Afternoon         6.343284
11h00             4.341927
Morning           4.104478
12h00             3.697422
15h00             3.663501
                    ...
16h25             0.033921
10h30 or 13h30    0.033921
10h00 / 11h00     0.033921
1300              0.033921
Daybreak          0.033921
Name: Time, Length: 366, dtype: float64

Column studied is : Species

White shark                                                                                                                                           4.705543
Shark involvement prior to death was not confirmed                                                                                                    3.031178
Invalid                                                                                                                                               2.944573
Shark involvement not confirmed                                                                                                                       2.540416
Tiger shark                                                                                                                                           2.107390
                                                                                                                                                        ...
1.5 to 2 m [5' to 6.75'] shark                                                                                                                        0.028868
2.6 m [8.5'] shark landed 2 hours later                                                                                                               0.028868
 6' to 8' shark                                                                                                                                       0.028868
Thought to involve a 2.4 m [8'] lemon shark; two 2.4 m lemon sharks caught within 100 yds of the site a week prior to & a week after this incident    0.028868
Porbeagle or white shark                                                                                                                              0.028868
Name: Species , Length: 1549, dtype: float64

Column studied is : Investigator or Source

C. Moore, GSAF                     1.670644
C. Creswell, GSAF                  1.463803
S. Petersohn, GSAF                 1.304694
R. Collier                         0.875099
R. Collier, GSAF                   0.763723
                                     ...
The Perry Chief, 10/16/1875        0.015911
Steubenville Herald, 11/12/1896    0.015911
G. Ambrose, pp.78-86               0.015911
Bridgeport Post 6/22/1970          0.015911
Courier-Mail, 2/14/1984, p.3       0.015911
Name: Investigator or Source, Length: 4969, dtype: float64

Column studied is : pdf

1929.03.04.a-b.Roads-Aldridge.pdf     0.031736
1934.12.23.a-b-Inman.pdf              0.031736
1931.09.21.a-b-Holaday-Barrows.pdf    0.031736
1907.10.16.R-HongKong.pdf             0.031736
1898.00.00.R-Syria.pdf                0.031736
                                        ...
1937.11.06.R-Solomon-Islands.pdf      0.015868
1988.04.14.b-KennyBurns.pdf           0.015868
1887.10.18-Hamilton.pdf               0.015868
1904.00.00.a-Honolulu.pdf             0.015868
1949.07.29-Palmer.pdf                 0.015868
Name: pdf, Length: 6291, dtype: float64

Column studied is : href formula

http://sharkattackfile.net/spreadsheets/pdf_directory/1931.09.21.a-b-Holaday-Barrows.pdf    0.031741
http://sharkattackfile.net/spreadsheets/pdf_directory/1929.03.04.a-b.Roads-Aldridge.pdf     0.031741
http://sharkattackfile.net/spreadsheets/pdf_directory/1935.06.05.R-SolomonIslands.pdf       0.031741
http://sharkattackfile.net/spreadsheets/pdf_directory/1906.09.27.R.a&b-Munich-Swede.pdf     0.031741
http://sharkattackfile.net/spreadsheets/pdf_directory/1921.11.27.a-b-Jack.pdf               0.031741
                                                                                              ...
http://sharkattackfile.net/spreadsheets/pdf_directory/2008.07.00-UK-dinghy.pdf              0.015870
http://sharkattackfile.net/spreadsheets/pdf_directory/2012.07.08-Fasick.pdf                 0.015870
http://sharkattackfile.net/spreadsheets/pdf_directory/1995.07.28.c-Moore.pdf                0.015870
http://sharkattackfile.net/spreadsheets/pdf_directory/1948.12.27-Strahan.pdf                0.015870
http://sharkattackfile.net/spreadsheets/pdf_directory/1995.06.13-HongKong.pdf               0.015870
Name: href formula, Length: 6290, dtype: float64

Column studied is : href

http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf                  0.063472
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf           0.047604
http://sharkattackfile.net/spreadsheets/pdf_directory/1935.06.05.R-SolomonIslands.pdf       0.031736
http://sharkattackfile.net/spreadsheets/pdf_directory/1906.09.27.R.a&b-Munich-Swede.pdf     0.031736
http://sharkattackfile.net/spreadsheets/pdf_directory/1931.09.21.a-b-Holaday-Barrows.pdf    0.031736
                                                                                              ...
http://sharkattackfile.net/spreadsheets/pdf_directory/1993.00.00.c - Somali children.pdf    0.015868
http://sharkattackfile.net/spreadsheets/pdf_directory/1983.08.20.a-Louw.pdf                 0.015868
http://sharkattackfile.net/spreadsheets/pdf_directory/2008.07.00-UK-dinghy.pdf              0.015868
http://sharkattackfile.net/spreadsheets/pdf_directory/2012.07.08-Fasick.pdf                 0.015868
http://sharkattackfile.net/spreadsheets/pdf_directory/1995.06.13-HongKong.pdf               0.015868
Name: href, Length: 6285, dtype: float64

Column studied is : Case Number.1

1952.08.04      0.031736
2014.08.02      0.031736
1983.06.15      0.031736
1990.05.10      0.031736
1980.07.00      0.031736
                  ...
2018.04.24      0.015868
1996.01.16      0.015868
1931.06.13      0.015868
1947.03.12      0.015868
2002.07.09.b    0.015868
Name: Case Number.1, Length: 6285, dtype: float64

Column studied is : Case Number.2

1923.00.00.a    0.031736
1962.06.11.b    0.031736
1913.08.27.R    0.031736
1983.06.15      0.031736
1990.05.10      0.031736
                  ...
2018.04.24      0.015868
1996.01.16      0.015868
1931.06.13      0.015868
1947.03.12      0.015868
2002.07.09.b    0.015868
Name: Case Number.2, Length: 6286, dtype: float64

Column studied is : original order

569.0     0.031701
5639.0    0.015850
4754.0    0.015850
2899.0    0.015850
5259.0    0.015850
            ...
439.0     0.015850
257.0     0.015850
4425.0    0.015850
4065.0    0.015850
6144.0    0.015850
Name: original order, Length: 6308, dtype: float64

Column studied is : Unnamed: 22

stopped here    100.0
Name: Unnamed: 22, dtype: float64

Column studied is : Unnamed: 23

change filename    50.0
Teramo             50.0
Name: Unnamed: 23, dtype: float64

In [42]:
# vérifier s'il y a des donnees manquantes dans les colonnes
initial_data.columns[initial_data.isnull().any()]

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [43]:
#Nbre de données manquantes par colonne/ Doublon avec infor

initial_data.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

# CLEANING

In [12]:
#Deleting not necessary columns. Input dataframe,liste of columns to delete
def suppress_columns(data,cols):
    newdata=data.copy()
    newdata=newdata.drop_duplicates()
    newdata=newdata.drop(cols,axis=1)
    return newdata

new_data=suppress_columns(initial_data,['Unnamed: 22','Unnamed: 23'])
display(new_data)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Cleaning of column Year

In [47]:
pd.Series(new_data['Year']).value_counts(normalize=True)*100

2015.0    2.269841
2017.0    2.158730
2016.0    2.063492
2011.0    2.031746
2014.0    2.015873
            ...
1801.0    0.015873
1638.0    0.015873
1834.0    0.015873
1723.0    0.015873
1786.0    0.015873
Name: Year, Length: 249, dtype: float64

In [48]:
# isolate missing values and display the associated rows
new_data[new_data.Year.isnull()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
187,2017.01.08.R,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,...,NaN,NaN,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6116.0
6079,1836.08.19.R,Reported 19-Aug-1836,NaN,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,...,Y,NaN,NaN,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.08.19.R,1836.08.19.R,224.0
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
# Replace NaN float to integer 0 in numeric table
new_data['Year'].apply(int)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [44]:
new_data[new_data.Year.isnull()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
187,2017.01.08.R,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,...,NaN,NaN,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6116.0
6079,1836.08.19.R,Reported 19-Aug-1836,NaN,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,...,Y,NaN,NaN,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.08.19.R,1836.08.19.R,224.0
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
new_data.iloc[1]

Case Number                                                      2018.06.18
Date                                                            18-Jun-2018
Year                                                                   2018
Type                                                             Unprovoked
Country                                                                 USA
Area                                                                Georgia
Location                                     St. Simon Island, Glynn County
Activity                                                           Standing
Name                                                        Adyson McNeely
Sex                                                                       F
Age                                                                      11
Injury                                           Minor injury to left thigh
Fatal (Y/N)                                                               N
Time                                                          14h00  -15h00
Species                                                                 NaN
Investigator or Source                       K.McMurray, TrackingSharks.com
pdf                                                  2018.06.18-McNeely.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                    2018.06.18
Case Number.2                                                    2018.06.18
original order                                                         6302
Name: 1, dtype: object

In [37]:
#appeler les lignes pour lesquelles year =1999
new_data[new_data["Year"] == 1999]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
2079,1999.12.31.c,31-Dec-1999,1999.0,Unprovoked,NEW ZEALAND,South Island,Oreti Beach,Surfing,Tim Wild,M,...,N,NaN,Sevengill shark,"R.D. Weeks, GSAF; The Otago Daily Times, 1/2/2000",1999.12.31.c-Wildl.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1999.12.31.c,1999.12.31.c,4224.0
2080,1999.12.31.b,31-Dec-1999,1999.0,Unprovoked,NEW ZEALAND,South Island,Oreti Beach,Swimming,Jennifer McDowell,F,...,N,NaN,Sevengill shark,"R.D. Weeks, GSAF; The Otago Daily Times, 1/2/2...",1999.12.31.b-McDowell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1999.12.31.b,1999.12.31.b,4223.0
2081,1999.12.31.a,31-Dec-1999,1999.0,Unprovoked,NEW ZEALAND,South Island,Oreti Beach,Bathing,Genna Hayward,F,...,N,NaN,Sevengill shark,"R.D. Weeks, GSAF; The Otago Daily Times, 1/2/2000",1999.12.31.a-Hayward.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1999.12.31.a,1999.12.31.a,4222.0
2082,1999.12.26,26-Dec-1999,1999.0,Unprovoked,BRAZIL,Pernambuco,"Boa Viagem Beach, Recife",Surfing,Alton Cicero da Silva,M,...,N,NaN,"Thought to involve a white, bull or tiger shark","L. A. Pereira & J. Morris; JC, 12/27/1999",1999.12.26-Cicero.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1999.12.26,1999.12.26,4221.0
2083,1999.12.14,14-Dec-1999,1999.0,Invalid,USA,California,"Off Ventura, Anacapa & Santa Cruz Islands",Scuba diving,Joo Whan Hong,M,...,NaN,NaN,Shark involvement not confirmed,R. Collier,1999.12.14-Hong.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1999.12.14,1999.12.14,4220.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2140,1999.01.07,01-Jan-1999,1999.0,Boating,NEW ZEALAND,North Island,"Papamoa, near Tauranga, Bay of Plenty",Inflatable boat,NaN,NaN,...,N,NaN,NaN,"The Dominion, 1/8/1999, p.3I",1999.01.07-NZ-inflatable.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1999.01.07,1999.01.07,4163.0
2141,1999.01.03.R,Reported 03-Jan-1999,1999.0,Invalid,AUSTRALIA,Northern Territory,Gulf of Carpenteria,Fishing,Donna Turcotte,F,...,NaN,NaN,Shark involvement not confirmed,"Sunday Mail, 3/1/1999",1999.01.03.R-Turcotte.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1999.01.03.R,1999.01.03.R,4162.0
2142,1999.01.03,03-Jan-1999,1999.0,Unprovoked,REUNION,Saint-Leu,Pointe au Sel,Spearfishing,NaN,NaN,...,Y,NaN,Bull shark,G. Van Grevelynghe,1999.01.03-ReunionIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1999.01.03,1999.01.03,4161.0
2143,1999.00.00.b,1999,1999.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Hospital Rock, Dyers Island",Spearfishing,Healy Lootz,M,...,N,12h00,"White shark, 4.6 m [15']",V. Van der Merwe,1999.00.00.b-Lootz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1999.00.00.b,1999.00.00.b,4160.0
2144,1999.00.00.a,1999,1999.0,Invalid,USA,Virginia,"Sandridge Beach, Virginia Beach, Princess Anne...",Body surfing,male,M,...,NaN,NaN,Shark involvement not confirmed,NaN,1999.00.00.a-NV-SandridgeBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1999.00.00.a,1999.00.00.a,4159.0